body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }



th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 0px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&display=swap');
  *{
      font-family: 'Noto Sans TC', sans-serif;
  }
  body{
      background-color: darkslategray;
  }
  .lbl_logo{
      width:100%;
      font-size: 40px;
      color:white;
      text-align: center;
      margin-top: 10%;
  }
  .lbl_alert{
      width:100%;
      font-size: 20px;
      color:orange;
      text-align: center;
  }
  .btn_big{
      width:100%;
      border:1px solid white;
      display:block;
      text-align: center;
      font-size:30px;
      color:white;
      text-decoration: none;
      padding:20px 0px;
      background-color: darkslategray;
      cursor: pointer;
  }
  .btn_big:hover{
      color:darkslategray;
      background-color: white;
      transition-duration: 0.2s;
  }
  .btn_orange:hover{
    background-color:orange;
    color:white;
    transition-duration: 0.2s;
  }
  #btn_login{
      margin-top: 7%;
      border-bottom: none;
  }
 .container{
     width:80%;
      margin:0 auto;
 }
 .tbx_normal{
  width:100%;
  font-size: 25px;
  padding:10px 20px;
  box-sizing: border-box;   
  border:none;
  margin-top: 20px;
  border-radius: 25px;
}
.m-top-10{
  margin-top: 10%;
}
.btn_orange:hover{
  background-color:orange;
  color:white;
  transition-duration: 0.2s;
}
#user_remember_me{
  height:30px;
  width:30px;
}
a:visited{
  color:white;
}

.lbl_normal{
  color:white;
  font-size: 25px;
}