style{
    .actions input{
        width:100%;
        border:1px solid white;
        display:block;
        text-align: center;
        font-size:30px;
        color:white;
        text-decoration: none;
        padding:20px 0px;
        background-color: darkslategray;
        cursor: pointer;
    }
    .actions input:hover{
        background-color:orange;
        color:white;
        transition-duration: 0.2s;
    }
 
  
}


<h1 class="lbl_logo">編輯商品</h1>

<%= render 'form', product: @product %>

<%= link_to '內容', @product, class:'btn_big' %> |
<%= link_to '返回', products_path, class:'btn_big' %>
